.card {
    border: 1px solid gray;
    padding: 57px;

    border-radius: 25px;
    
  }

  h2{
      margin-bottom: 20px;
  }

#res{
    color:rgb(24, 124, 91);
    font-size: 1.7em;
}

.nav {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.nav li{
  text-align: center;

}